<section class="content-header">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <h1 class="page-title">
                Debit Card Application
            </h1>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <!-- to include the application header -->
            <ng-include src="'app/views/includes/relationship-manager.html'"></ng-include>
        </div>
    </div>
</section>
<section class="content vb-form">
    <div class="row" data-ng-show="VBFormSteps">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "> 
            <form class="form-horizontal" role="form" name="DebitCardApplication" ng-submit="submitForm(DebitCardApplication.$valid)" novalidate action="" method=""> 
                <div  class="alert vb-alert vb-alert-out" data-ng-show="validationError">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <p>Please fill the mandatory fields</p>
                </div> 
                <!--<div class="alert vb-alert vb-alert-out">
                    <p>
                        This option will allow you to:
                        <ul>
                            <li>Apply for a new Debit Card if not applied for at the time of account opening.</li>
                            <li>Apply for a replacement Debit Card if earlier card issued has been blocked and a replacement was not requested.</li>
                            <li>To view charges applicable for this service, please click on the <b>Service > Charges</b> tab.</li>
                        </ul>
                    </p>
                </div>-->
                <div class="box widget">
                    <h4> 
                        Please select your account
                    </h4>
                    <div class="vb-grid-container-body">
                        <div class="vb-grid-responsive table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Account Number</th>
                                        <th>Account Type</th>
                                        <th>Currency</th>
                                        <th>Branch</th>
                                        <th>Status</th>
                                        <th class="text-right">Available Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="account in Accounts">
                                        <td class="text-center">
                                            <div class="vb-radio-ctrl">
                                                <input type="radio" name="acccountslist" id="{{'object1-'+$index}}" ng-model="selectedAccount.AccountId" value="{{account.AccountId}}" ng-change="onTaskSelect(account)" required  />
                                                <label for="{{'object1-'+$index}}" class="radio">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td data-label="Account Number">{{account.AccountNumber}}</td>
                                        <td data-label="Account Type">{{account.AccountType}}</td>
                                        <td data-label="Currency">{{account.AccountCurrency}}</td>
                                        <td data-label="Branch">{{account.AccountBranch}}</td>
                                        <td data-label="Status">{{account.AccountStatus}}</td>
                                        <td data-label="Available Balance" class="text-right">{{account.AccountAvailableBalance}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="DeliveryOptions">Delivery Options <span class="mandatory">*</span></label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                            <div class="vb-radio-ctrl"> 
                                <input type="radio" value="To Home Branch" id="ToHomeBranch" name="DeliveryOptions" data-ng-model="DeliveryOptions.selected" required />
                                <label for="ToHomeBranch" class="radio">To Home Branch</label>
                                <input type="radio" value="To Another Branch" id="ToAnotherBranch" name="DeliveryOptions"data-ng-model="DeliveryOptions.selected" required />
                                <label for="ToAnotherBranch" class="radio">To Another Branch</label>
                                <input type="radio" value="To Home Address" id="ToAddress" name="DeliveryOptions" data-ng-model="DeliveryOptions.selected" required />
                                <label for="ToAddress" class="radio">To My Home Address</label> 
                            </div>
                        </div>
                    </div> 
                    <div class="form-group" data-ng-show="DeliveryOptions.selected=='To Another Branch'">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="SelectYourBranch">Select Your Branch <span class="mandatory">*</span></label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <select name="select" class="form-control" name="SelectBranch" data-ng-model="DebitCardApplicationForm.SelectBranch" required>
                                <option value="PleaseSelect" ng-selected="true">Please Select</option>
                                <option value="Munich Branch">Munich Branch</option>
                                <option value="Berlin Branch">Berlin Branch</option>
                                <option value="Hamburg Branch">Hamburg Branch</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="Name on Card">Name on Card</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <input type="text" class="form-control" placeholder="Enter your name" name="NameOnCard" data-ng-model="DebitCardApplicationForm.NameOnCard" />
                        </div>
                    </div>
                </div>
                <div class="form-group-actions text-center">
                    <input type="submit" value="Continue" class="btn btn-vb-theme" data-ng-click="GoVBFormConfirmation()" />
                </div>
            </form>
        </div>
    </div>
    <div class="row" data-ng-show="VBFormConfirmation">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="form-horizontal" role="form" action="" method="">
                <div class="box widget">
                    <h4>  
                        Please check the below information. To finish, press confirm.
                    </h4>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Account Number&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{selectAccountNumber.selected}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Name on Card&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{DebitCardApplicationForm.NameOnCard}}</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Delivery Option&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{DeliveryOptions.selected}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Branch Name&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{DebitCardApplicationForm.SelectBranch}}</label>
                        </div>
                    </div> 
                </div>
                <div class="form-group-actions text-center">
                    <input type="button" value="Back" class="btn btn-vb-theme" data-ng-click="BackVBFormFormSteps()" />
                    <input type="button" value="Cancel" class="btn btn-vb-theme-cancel" data-ng-click="BackVBFormFormSteps()" />
                    <input type="submit" value="Confirm" class="btn btn-vb-theme" data-ng-click="GoVBFormReceipt()" />
                </div>
            </form>
        </div>
    </div>
    <div class="row" data-ng-show="VBFormReceipt">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <form class="form-horizontal" role="form" action="" method="">
                <div class="alert vb-alert vb-alert-out">
                    <p>Congratulations! Your application received successfully. Please note the below reference number for your records.</p>
                </div> 
                <div class="box widget" id="vbPrintable"> 
                    <table width="100%" cellspacing="0" cellpadding="5">
                        <tbody>
                            <tr>
                                <td class="text-left">Account Number</td>
                                <td>: <strong>{{selectAccountNumber.selected}}</strong></td>
                                <td class="text-left">Name on Card</td>
                                <td>: <strong>{{DebitCardApplicationForm.NameOnCard}}</strong></td>
                            </tr>
                            <tr>
                                <td class="text-left">Delivery Option</td>
                                <td>: <strong>{{DeliveryOptions.selected}}</strong></td>
                                <td class="text-left">Branch Name</td>
                                <td>: <strong>{{DebitCardApplicationForm.SelectBranch}}</strong></td>
                            </tr> 
                            <tr>
                                <td class="text-left">Reference Number</td>
                                <td>: <strong>VBHJKI457852</strong></td>
                                <td class="text-left">CRM Reference Number</td>
                                <td>: <strong>VBHJYU7858585</strong></td>
                            </tr>
                        </tbody> 
                    </table>
                </div>
                <div class="form-group-actions text-center hidden-xs hidden-sm hidden-md">
                    <input type="button" value="Print e-Receipt" class="btn btn-vb-theme" data-ng-click="vbPrintConfirmation('vbPrintable');" />
                </div> 
            </form>
        </div>
    </div>
</section>
