<header header>
    <a href="" class="navbar-btn" id="lft-menu-toggle" role="button" title="Menu Toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar sml"></span>
        <span class="icon-bar lrg"></span>
        <span class="icon-bar sml"></span>
    </a>
    <a href="#Dashboard" class="logo">
        <img src="themes/imgs/logo.png" alt="Veribank - Omni Channel Banking Application" title="Veribank - Omni Channel Banking Application" width="130" />
    </a>
    <div class="user-details pull-right">
        <div class="user-info pull-left">
            <div class="pull-left">
                <span class="user-name text-right">Archie Andrews</span>
                <span>
                    <i class="fa fa-clock-o"></i>
                    <span>Last Login: </span>
                <span class="user-login-time">01:48:25 PM / Sep, 28 2015</span>
                </span>
            </div>
            <figure class="user-photo pull-right">
                <img src="themes/imgs/avatar.png" class="img-circle" alt="User Image">
            </figure>
        </div>
        <div class="user-menu dropdown  pull-right">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cog"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="">
                        <i class="fa fa-user"></i>
                        <span>My Profile</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-cog"></i>
                        <span>My Configuration</span>
                    </a>
                </li>
                <li>
                    <a href="#Login">
                        <i class="fa fa-sign-out"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
