<div class="left-nav" emHeightTarget> 
    <nav>
        <ul>
            <li>
                <a href="#Dashborad">
                    <i class="fa fa-tachometer"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="#MyAccounts">
                    <i class="fa fa-briefcase"></i>
                    <span>Accounts<i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="sub-menu-items">
                    <li>
                        <a href="#MyAccounts">
                            <span>My Accounts</span>
                        </a>
                    </li>
                    <li>
                        <a href="#MyPortfolio">
                            <span>My Portfolio</span>
                        </a>
                    </li>
                    <li>
                        <a href="#AccountOpening">
                            <span>Account Opening</span>
                        </a>
                    </li>
                    <li>
                        <a href="#ChequeBookRequest">
                            <span>Cheque Book Request</span>
                        </a>
                    </li>
                    <li>
                        <a href="#PhysicalStatementRequest">
                            <span>Physical Statement Request</span>
                        </a>
                    </li>
                    <li>
                        <a href="#SalaryinAdvance">
                            <span>Salary in Advance / Overdraft</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="#MyCards">
                    <i class="fa fa-credit-card"></i>
                    <span>Cards<i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="sub-menu-items">
                    <li>
                        <a href="#MyCards">
                            <span>My Cards</span>
                        </a>
                    </li>
                    <li>
                        <a href="#PaymentToCard">
                            <span>Payment to Third Party Card</span>
                        </a>
                    </li>
                    <li>
                        <a href="#PaymentToMyCard">
                            <span>Payment to My Card</span>
                        </a>
                    </li>
                    <li>
                        <a href="#BlockCard">
                            <span>Block Card</span>
                        </a>
                    </li>
                    <li>
                        <a href="#CCApplication">
                            <span>Credit Card Application</span>
                        </a>
                    </li>
                    <li>
                        <a href="#DCApplication">
                            <span>Debit Card Application</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="#BillPayments">
                    <i class="fa fa-money"></i>
                    <span>Payments<i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="sub-menu-items">
                    <li>
                        <a href="#BillPayments">
                            <span>Bill Payment</span>
                        </a>
                    </li>
                    <li>
                        <a href="#PaySavedBills">
                            <span>Pay New Bill / Add Payee</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="#FundTransfer">
                    <i class="fa fa-exchange"></i>
                    <span>Transfer<i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="sub-menu-items"> 
                    <li>
                        <a href="#FundTransfer">
                            <span>Fund Transfer</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="">
                    <i class="fa fa-cog"></i>
                    <span>Services<i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="sub-menu-items">
                    <li>
                        <a href="">
                            <span>Email Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Update Personal Information</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Increase / Decrease Limits</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Internate Transaction History</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Pending Transaction</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Notification Management</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Exchange Rates</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="">
                    <i class="fa fa-lock"></i>
                    <span>Security<i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="sub-menu-items">
                    <li>
                        <a href="">
                            <span>Change Login Password</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Security Questions</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Dashboard Configuration</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>