<section class="content-header">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <h1 class="page-title">
                Cheque Book Request
            </h1>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <!-- to include the application header -->
            <ng-include src="'app/views/includes/relationship-manager.html'"></ng-include>
        </div>
    </div>
</section>
<section class="content vb-form">
    <div class="row" data-ng-show="VBFormSteps">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="form-horizontal" role="form" name="chequebookRequest" ng-submit="submitForm(chequebookRequest.$valid)" novalidate  action="" method=""> 
                <!--<div class="alert vb-alert vb-alert-out">
                    <p>
                        You can request for a chequebook for any of your current accounts. The chequebook will be delivered to any of our branches for collection after 3 working days.
                    </p>
                </div>-->
                <div  class="alert vb-alert vb-alert-out" data-ng-show="validationError">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <p>Please fill the mandatory fields</p>
                </div>
                <div class="box widget">
                    <h4>
	            		<span class="step-control"><b>1</b> of 2</span>
	            		Please select an account for which you would like to have a chequebook
	            	</h4>
                    <div class="vb-grid-container-body">
                        <div class="vb-grid-responsive table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Account Number</th>
                                        <th>Account Type</th>
                                        <th>Currency</th>
                                        <th class="text-right">Current Balance</th>
                                        <th class="text-right">Available Balance</th>
                                        <th>Joint</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="account in Accounts">
                                        <td class="text-center">
                                            <div class="vb-radio-ctrl">
                                                <input type="radio" name="acccountslist" id="{{'object-'+$index}}" ng-model="selectedAccount.AccountId" value="{{account.AccountId}}" ng-change="onTaskSelect(account)" required />
                                                <label for="{{'object-'+$index}}" class="radio">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td data-label="Account Number">{{account.AccountNumber}}</td>
                                        <td data-label="Account Type">{{account.AccountType}}</td>
                                        <td data-label="Currency">{{account.AccountCurrency}}</td>
                                        <td data-label="Current Balance" class="text-right">{{account.AccountCurrentBalance}}</td>
                                        <td data-label="Available Balance" class="text-right">{{account.AccountAvailableBalance}}</td>
                                        <td data-label="Joint">{{account.JointAccount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box widget">
                    <h4>
	            		<span class="step-control"><b>2</b> of 2</span>
	            		Plese select your delivery option
	            	</h4>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="DeliveryOptions">Delivery Options </label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                            <div class="vb-radio-ctrl"> 
                                <input type="radio" value="To Home Branch" id="ToHomeBranch" name="DeliveryOptions" data-ng-model="DeliveryOptions.selected" />
                                <label for="ToHomeBranch" class="radio">To Home Branch</label>
                                <input type="radio" value="To Another Branch" id="ToAnotherBranch" name="DeliveryOptions" data-ng-model="DeliveryOptions.selected" />
                                <label for="ToAnotherBranch" class="radio">To Another Branch</label>
                                <input type="radio" value="To Home Address" id="ToHomeAddress" name="DeliveryOptions" data-ng-model="DeliveryOptions.selected" />
                                <label for="ToHomeAddress" class="radio">To My Home Address</label> 
                            </div>
                        </div>
                    </div> 
                    <div class="form-group" data-ng-show="DeliveryOptions.selected=='To Another Branch'">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="SelectYourBranch">Select Your Branch <span class="mandatory">*</span></label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <select name="select" class="form-control" data-ng-model="chequebookRequestForm.BranchName">
                                <option value="London Branch">London Branch</option>
                                <option value="Birmingham Branch">Birmingham Branch</option>
                                <option value="Liverpool Branch">Liverpool Branch</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" data-ng-show="DeliveryOptions.selected=='To Home Address'">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="HomeAddress">Home Address </label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <textarea rows="3" class="form-control">Flat No:507, St. Peters Tower, Hamilton Road, London, United Kingdom</textarea>
                        </div>
                    </div>
                    <div class="form-group" data-ng-show="DeliveryOptions.selected=='To Home Address'">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="">&nbsp;</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="vb-checkbox-ctrl">
                                <input type="checkbox" value="None" name="delivernewaddress" id="delivernewaddress" data-ng-model="delivernewaddress" />
                                <label for="delivernewaddress" class="checkbox">Do You Want to Deliver New Address?</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" data-ng-show="DeliveryOptions.selected=='To Home Address'">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="">&nbsp;</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <textarea rows="3" class="form-control" data-ng-readonly="!delivernewaddress"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group-actions text-center">
                    <input type="submit" value="Continue" class="btn btn-vb-theme" data-ng-click="GoVBFormConfirmation()" />
                </div>
            </form>
        </div>
    </div>
    <div class="row" data-ng-show="VBFormConfirmation">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="form-horizontal" role="form" action="" method="">
                <div class="box widget">
                    <h4>  
	            		Please check the information entered. To finish, press confirm.
	            	</h4>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Account Number&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{selectAccountNumber.selected}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">No. of Cheque Leaves&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">25</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Delivery Option&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{DeliveryOptions.selected}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Process Date&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{todaysDate | date:'dd MMM yyyy' | uppercase}}</label>
                        </div>
                    </div> 
                </div>
                <div class="form-group-actions text-center">
                    <input type="button" value="Back" class="btn btn-vb-theme" data-ng-click="BackVBFormFormSteps()" />
                    <input type="submit" value="Confirm" class="btn btn-vb-theme" data-ng-click="GoVBFormReceipt()" />
                </div>
            </form>
        </div>
    </div>
    <div class="row" data-ng-show="VBFormReceipt">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <form class="form-horizontal" role="form" action="" method="">
                <div class="alert vb-alert vb-alert-out">
                    <p>Congratulations! Your chequebook request has been placed and can be collected from the selected branch after 3 working days. Please note the below reference number for your records.</p>
                </div> 
                <div class="box widget" id="vbPrintable">  
                    <table width="100%" cellspacing="0" cellpadding="5">
                        <tbody>
                            <tr>
                                <td class="text-left">Account Number</td>
                                <td>: <strong>{{selectAccountNumber.selected}}</strong></td>
                                <td class="text-left">No. of Cheque Leaves</td>
                                <td>: <strong>25</strong></td>
                            </tr>
                            <tr>
                                <td class="text-left">Delivery Option</td>
                                <td>: <strong>{{DeliveryOptions.selected}}</strong></td>
                                <td class="text-left">Process Date</td>
                                <td>: <strong>{{todaysDate | date:'dd MMM yyyy' | uppercase}}</strong></td>
                            </tr>
                            <tr>
                                <td class="text-left">Rerefence Number</td>
                                <td colspan="3">: <strong>VBCHEQUE000121</strong></td> 
                            </tr> 
                        </tbody> 
                    </table>
                </div>
                <div class="form-group-actions text-center hidden-xs hidden-sm hidden-md">
                    <input type="button" value="Print e-Receipt" class="btn btn-vb-theme" data-ng-click="vbPrintConfirmation('vbPrintable');" />
                </div> 
            </form>
        </div>
    </div>
</section>
