<section class="content-header">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <h1 class="page-title">
                My Accounts
            </h1>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <!-- to include the application header -->
            <ng-include src="'app/views/includes/relationship-manager.html'"></ng-include>
        </div>
    </div>
</section>
<section class="content vb-form">
    <div class="row" data-ng-show="AccountSection">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="form-horizontal" role="form" action="" method="">
                <div class="box widget myaccount">
                    <div class="widget-header">
                        <div class="pull-left">
                            <div class="widget-title">
                                <h4><i class="fa fa-briefcase"></i> Customer Accounts</h4>
                            </div>
                            <div class="widget-info">
                                <span>Account Number</span>
                                <span> 
                                    <!--<i class="arrow arrow-down dropdown"></i>-->
                                    <select class="acc-dropwdown down-arrow" data-ng-model="selectAccount" data-ng-options="Account as Account.AccountNumber for Account in Accounts">
                                    </select>    
                                </span>
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="widget-info">
                                <span>Available Balance</span>
                                <span>{{selectAccount.AccountCurrency}} <b>{{selectAccount.AccountAvailableBalance}}</b></span>
                            </div>
                            <div class="widget-info">
                                <span>Account Type</span>
                                <span>{{selectAccount.AccountType}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-more-info">
                        <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-1 com-lg-2 col-lg-offset-1">
                            <span>Lowest Credit:</span>
                            <span><i class="arrow arrow-down credit"></i> {{selectAccount.AccountCurrency}}&nbsp;{{selectAccount.AccountLowestCredit}}</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-1 com-lg-2 col-lg-offset-1">
                            <span>Highest Credit:</span>
                            <span><i class="arrow arrow-down credit"></i> {{selectAccount.AccountCurrency}}&nbsp;{{selectAccount.AccountHighestCredit}}</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-1 com-lg-2 col-lg-offset-1">
                            <span>Lowest Debit:</span>
                            <span><i class="arrow arrow-up debit"></i> {{selectAccount.AccountCurrency}}&nbsp;{{selectAccount.AccountLowestDebit}}</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-1 com-lg-2 col-lg-offset-1">
                            <span>Highest Debit:</span>
                            <span><i class="arrow arrow-up debit"></i> {{selectAccount.AccountCurrency}}&nbsp;{{selectAccount.AccountHighestDebit}}</span>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-body-title">
                            <span>  
                            Transaction Flow :
                        </span>
                            <span class="dropdown pull-right">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                Monthly<i class="fa fa-bars"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="">Monthly</a>
                                </li>
                                <li>
                                    <a href="">Weekly</a>
                                </li>
                                <li>
                                    <a href="">Daily</a>
                                </li>
                            </ul>
                        </span>
                        </div>
                        <div class="widget-body-content">
                            <div id="chartContainer">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box widget vb-grid-container">
                    <div class="vb-grid-container-title">
                        <h4>  
                        Accounts
                    </h4>
                        <span class="vb-grid-title-actions pull-right">     
                        <a href="" class="btn btn-vb-theme" data-ng-click="GoToAccountDetails()">Account Details</a>
                        <a href="" class="btn btn-vb-theme" data-ng-click="GoToAccountStatement()">Detailed Statement</a>
                        <a href="" class="btn btn-vb-theme" data-ng-click="GoToAccountMiniStatement()">Mini Statement</a> 
                    </span>
                    </div>
                    <div class="vb-grid-container-body">
                        <div class="vb-grid-responsive table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Account Number</th>
                                        <th>Account Type</th>
                                        <th>Currency</th>
                                        <th>Branch</th>
                                        <th>Status</th>
                                        <th class="text-right">Available Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="account in Accounts">
                                        <td class="text-center">
                                            <div class="vb-radio-ctrl">
                                                <input type="radio" name="acccounts" id="{{'object-'+$index}}" ng-model="selectedAccount.AccountId" value="{{account.AccountId}}" ng-change="onTaskSelect(account)" />
                                                <label for="{{'object-'+$index}}" class="radio">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td data-label="Account Number">{{account.AccountNumber}}</td>
                                        <td data-label="Account Type">{{account.AccountType}}</td>
                                        <td data-label="Currency">{{account.AccountCurrency}}</td>
                                        <td data-label="Branch">{{account.AccountBranch}}</td>
                                        <td data-label="Status">{{account.AccountStatus}}</td>
                                        <td data-label="Available Balance" class="text-right">{{account.AccountAvailableBalance}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box widget vb-grid-container">
                    <div class="vb-grid-container-title">
                        <h4>  
                        Term Deposit Accounts
                    </h4>
                        <span class="vb-grid-title-actions pull-right">    
                            <a href="" class="btn btn-vb-theme" data-ng-click="GoToTDAccountDetails()">Account Details</a> 
                        </span>
                    </div>
                    <div class="vb-grid-container-body">
                        <div class="vb-grid-responsive table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Account Number</th>
                                        <th>Account Type</th>
                                        <th>Currency</th>
                                        <th>Branch</th>
                                        <th>Status</th>
                                        <th class="text-right">Deposit Amount</th>
                                        <th class="text-right">Maturity Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <div class="vb-radio-ctrl">
                                                <input type="radio" name="acccountslist1" id="{{'object1-'+$index}}" checked="checked" />
                                                <label for="{{'object1-'+$index}}" class="radio">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td data-label="Account Number">0313015192584504</td>
                                        <td data-label="Account Type">Term Deposit Account</td>
                                        <td data-label="Currency">GBP</td>
                                        <td data-label="Branch">Munich Mall Branch</td>
                                        <td data-label="Status">Active</td>
                                        <td data-label="Deposit Amount" class="text-right">8,000.00</td>
                                        <td data-label="Maturity Amount" class="text-right">8,989.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" data-ng-show="AccountStamentSection">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="form-horizontal" role="form" action="" method="">
                <div class="box widget vb-grid-container">
                    <div class="vb-grid-container-title">
                        <h4> 
                            Account Statement
                        </h4>
                        <span class="vb-grid-title-actions pull-right">  
                            <a href="" class="btn btn-vb-theme" data-ng-click="AdvancedSearch()">Advanced Search</a>
                        </span>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Account Number&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{selectAccountNumber.selected}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Account Type&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{selectAccountType.selected}}</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Opening Balance ({{vbCurrency}})&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{selectAccountCurrentBalance.selected}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Closing Balance ({{vbCurrency}})&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{selectAccountCurrentBalance.selected}}</label>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="vb-grid-container-body">
                        <div class="row" data-ng-show="IsVisible">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="vb-grid-slider">
                                    <h5>
                                        Select Period
                                    </h5>
                                    <div class="vb-grid-slider-control">
                                        <input type="hidden" value="20" class="vb-range-slider" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="vb-grid-daterange">
                                    <h5>
                                        Date Range
                                    </h5>
                                    <div class="vb-grid-daterange-control">
                                        <div class="form-group">
                                            <label for="fromdate">From</label>
                                            <div class="input-group vb-dtp">
                                                <input type="text" class="form-control" id="fromdate">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="todate">To</label>
                                            <div class="input-group vb-dtp">
                                                <input type="text" class="form-control" id="todate">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="todate">&nbsp;</label>
                                            <button type="submit" class="btn btn-block btn-vb-theme">Show</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vb-grid table-responsive">
                            <table class="table table-striped table-hover dt-responsive nowrap vbDataGrid tagging">
                                <thead>
                                    <tr>
                                        <th>Transaction Date</th>
                                        <th>Value Date</th>
                                        <th>Ref. Number</th>
                                        <th>Description</th>
                                        <th>Currency</th>
                                        <th>Debit/Credit</th> 
                                        <th class="text-right">Amount</th>
                                        <th>Tag Transaction</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="transaction in Transactions">
                                        <td data-label="Transaction Date">{{transaction.TransactionDate}}</td>
                                        <td data-label="Value Date">{{transaction.ValueDate}}</td>
                                        <td data-label="Reference Number">{{transaction.ReferenceNumber}}</td>
                                        <td data-label="Description">{{transaction.TransactionDescription}}</td>
                                        <td data-label="Currency">{{transaction.Currency}}</td>
                                        <td data-label="Debit/Credit">{{transaction.TransactionDebitCredit}}</td>
                                        <td data-label="Amount" class="text-right">{{transaction.TransactionAmount}}</td>
                                        <td data-label="Tag">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                                        <label class="control-label">House Rent</label>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                                        <label class="control-label">Utilities</label>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                                        <input type="text" value="74.000" class="form-control" />
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                                        <label class="control-label">Food</label>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                                        <label class="control-label">Education</label>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                                        <label class="control-label">Medical</label>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                                        <label class="control-label">Shopping</label>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <label> Download Statement as : </label>
                        <a href="" title="PDF"><i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;&nbsp;<a href="" title="CSV"><i class="fa fa-file-excel-o"></i></a>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-group-actions text-center">
                    <input type="button" value="Back" class="btn btn-vb-theme" data-ng-click="BackToAccounts();" />
                </div>
            </form>
        </div>
    </div>
    <div class="row" data-ng-show="AccountMiniStamentSection">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="form-horizontal" role="form" action="" method="">
                <div class="box widget">
                    <h4> 
                        Account Statement
                    </h4>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Account Number&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{selectAccountNumber.selected}}</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Opening Balance ({{vbCurrency}})&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{selectAccountCurrentBalance.selected}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Closing Balance ({{vbCurrency}})&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">{{selectAccountCurrentBalance.selected}}</label>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="vb-grid-container-body">
                        <div class="vb-grid-responsive table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Transaction Date</th>
                                        <th>Value Date</th>
                                        <th>Ref. Number</th>
                                        <th>Description</th>
                                        <th>Currency</th>
                                        <th>Debit/Credit</th> 
                                        <th class="text-right">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="transaction in Transactions | limitTo:5">
                                        <td data-label="Transaction Date">{{transaction.TransactionDate}}</td>
                                        <td data-label="Value Date">{{transaction.ValueDate}}</td>
                                        <td data-label="Reference Number">{{transaction.ReferenceNumber}}</td>
                                        <td data-label="Description">{{transaction.TransactionDescription}}</td>
                                        <td data-label="Currency">{{transaction.Currency}}</td>
                                        <td data-label="Debit/Credit">{{transaction.TransactionDebitCredit}}</td>
                                        <td data-label="Amount" class="text-right">{{transaction.TransactionAmount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group text-right">
                        <label>
                            Download Statement as :
                        </label>
                        <a href="" title="PDF"><i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;&nbsp;<a href="" title="CSV"><i class="fa fa-file-excel-o"></i></a>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-group-actions text-center">
                    <input type="button" value="Back" class="btn btn-vb-theme" data-ng-click="BackToAccounts()" />
                </div>
            </form>
        </div>
    </div>
    <div class="row" data-ng-show="AccountDetailsSection">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="form-horizontal" role="form" action="" method="">
                <div class="box widget" id="vbPrintable"> 
                    <h4> 
                        Account Details
                    </h4>
                    <table width="100%" cellspacing="0" cellpadding="5">
                        <tbody>
                            <tr>
                                <td class="text-left">Account Number</td>
                                <td>: <strong>{{selectAccountNumber.selected}}</strong></td>
                                <td class="text-left">IBAN</td>
                                <td>: <strong>AE00BCCA123456123456</strong></td>
                            </tr>
                            <tr>
                                <td class="text-left">Account Type</td>
                                <td>: <strong>{{selectAccountType.selected}}</strong></td>
                                <td class="text-left">Branch Name</td>
                                <td>: <strong>{{selectAccountBranch.selected}}</strong></td>
                            </tr> 
                            <tr>
                                <td class="text-left">City</td>
                                <td>: <strong>Munich</strong></td>
                                <td class="text-left">Account Holder Name</td>
                                <td>: <strong>Archie Andrews</strong></td>
                            </tr>
                            <tr>
                                <td class="text-left">Holding Pattern</td>
                                <td>: <strong>Single</strong></td>
                                <td class="text-left">Account Currency</td>
                                <td>: <strong>{{vbCurrency}}</strong></td>
                            </tr>
                            <tr>
                                <td class="text-left">Balance ({{vbCurrency}})</td>
                                <td>: <strong>{{selectAccountCurrentBalance.selected}}</strong></td>
                                <td class="text-left">Blocked Funds ({{vbCurrency}})</td>
                                <td>: <strong>0.00</strong></td>
                            </tr>
                            <tr>
                                <td class="text-left">Uncleread Balance ({{vbCurrency}})</td>
                                <td>: <strong>0.00</strong></td>
                                <td class="text-left">Net Available Balance ({{vbCurrency}})</td>
                                <td>: <strong>{{selectAccountCurrentBalance.selected}}</strong></td>
                            </tr>
                        </tbody>
                    </table>  
                </div> 
                <div class="form-group-actions text-center">
                    <input type="button" value="Back" class="btn btn-vb-theme" data-ng-click="BackToAccounts()" /> 
                    <input type="button" value="Print e-Receipt" class="btn btn-vb-theme" data-ng-click="vbPrintConfirmation('vbPrintable');" />
                </div>  
            </form>
        </div>
    </div>
    <div class="row" data-ng-show="TDAccountDetailsSection">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="form-horizontal" role="form" action="" method="">
                <div class="box widget" id="vbPrintable"> 
                    <h4> 
                        Term Deposit Account Details
                    </h4>
                    <table width="100%" cellspacing="0" cellpadding="5">
                        <tbody>
                            <tr>
                                <td class="text-left">Account Number</td>
                                <td>: <strong>0313015192584504</strong></td>
                                <td class="text-left">Account Type</td>
                                <td>: <strong>Term Deposit Account</strong></td>
                            </tr>
                            <tr>
                                <td class="text-left">Branch Name</td>
                                <td>: <strong>Munich Mall Branch</strong></td>
                                <td class="text-left">City</td>
                                <td>: <strong>Munich</strong></td>
                            </tr> 
                            <tr>
                                <td class="text-left">Account Holder Name</td>
                                <td>: <strong>Archie Andrews</strong></td>
                                <td class="text-left">Holding Pattern</td>
                                <td>: <strong>Single</strong></td>
                            </tr>
                            <tr>
                                <td class="text-left">Account Currency</td>
                                <td>: <strong>{{vbCurrency}}</strong></td>
                                <td class="text-left">Blocked Funds ({{vbCurrency}})</td>
                                <td>: <strong>0.00</strong></td>
                            </tr>
                            <tr>
                                <td class="text-left">Deposit Amount ({{vbCurrency}})</td>
                                <td>: <strong>8,000.00</strong></td>
                                <td class="text-left">Maturity Amount ({{vbCurrency}})</td>
                                <td>: <strong>8,989.00</strong></td>
                            </tr>
                        </tbody>
                    </table>  
                </div> 
                <div class="form-group-actions text-center">
                    <input type="button" value="Back" class="btn btn-vb-theme" data-ng-click="BackToAccounts()" /> 
                    <input type="button" value="Print e-Receipt" class="btn btn-vb-theme" data-ng-click="vbPrintConfirmation('vbPrintable');" />
                </div>
            </form>
        </div>
    </div>
</section>
