<section class="content-header">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <h1 class="page-title">
                Bill Payments
            </h1>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <!-- to include the application header -->
            <ng-include src="'app/views/includes/relationship-manager.html'"></ng-include>
        </div>
    </div>
</section>
<section class="content vb-form">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <form class="form-horizontal" role="form" action="" method="">
                <div class="box widget">
                    <h4> 
                        Pay saved bill(s)
                    </h4>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="FromAccount">From Account</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <select class="form-control">
                                <option value="1000012452478">1000012452478</option>
                                <option value="1000012452479">1000012452479</option>
                                <option value="1000012452479">1000012452480</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="AvailableBalance">Available Balance ({{vbCurrency}})</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <input type="text" class="form-control text-right" disabled="disabled" value="9,905.68" />
                        </div>
                    </div>
                    <div class="alert vb-alert">
                        <ul>
                            <li>Please select your saved bill(s) which you want to pay.</li>
                            <li>Once you select the saved bill(s), click “Check Due Payment” button to know your due amount against saved bill(s) before proceeding for payment.</li>
                        </ul>
                    </div>
                    <div class="vb-grid-container-body">
                        <div class="vb-grid-responsive table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Beneficiary Name</th>
                                        <th>Account Number</th>
                                        <th>Beneficiary Type</th>
                                        <th class="text-right">Due Amount ({{vbCurrency}})</th>
                                        <th class="text-right">Payment Amount ({{vbCurrency}})</th>
                                        <th>Recurring</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="payment in payments">
                                        <td class="text-center">
                                            <div class="vb-checkbox-ctrl">
                                                <input type="checkbox" name="saveBeneficiary" id="{{'object-'+$index}}" />
                                                <label for="{{'object-'+$index}}" class="checkbox">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td data-label="Name">{{payment.BeneficiaryName}}</td>
                                        <td data-label="Account Number">{{payment.BeneficiaryACNumber}}</td>
                                        <td data-label="Type">{{payment.BeneficiaryType}}</td>
                                        <td data-label="Due Amount ({{vbCurrency}})" class="text-right"><span data-ng-show="showDueAmount">{{payment.DebitAmount}}</span></td>
                                        <td data-label="Payment Amount" class="text-right">{{payment.PayAmount}}</td>
                                        <td data-label="Recurring">{{payment.Recurring}}</td>
                                        <td data-label="Actions"><a href="" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" title="Delete"><i class="glyphicon glyphicon-remove"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
                <div class="form-group-actions text-center">
                    <a class="btn btn-vb-theme" data-ng-href="#PaySavedBills">Add New Bill / Beneficiary</a>
                    <input type="button" name="AddBill" value="Check Due Payment" class="btn btn-vb-theme" data-ng-click="checkDueAmount();" />
                    <input type="button" name="AddBill" value="Pay Selected Bill(s)" class="btn btn-vb-theme" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <form class="form-horizontal" role="form" action="" method="">
                <div class="box widget">
                    <h4> 
                        Bill payment history
                    </h4>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="BillerName">Biller Name</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <select class="form-control">
                                <option value="EWA">EWA Munich Home</option>
                                <option value="Internet">Internet</option>
                                <option value="Fine">Traffic Fine</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="BillerType">Biller Type</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <select class="form-control">
                                <option value="EWA">EWA</option>
                                <option value="Internet">Internet</option>
                                <option value="Fine">Traffic Fine</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="StartDate">Start Date</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="input-group vb-dtp">
                                <input type="text" class="form-control" id="startDate">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="EndDate">End Date</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="input-group vb-dtp">
                                <input type="text" class="form-control" id="endDate">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="AmountFrom">Amount From ({{vbCurrency}})</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <input type="text" class="form-control text-right" placeholder="0.00" />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="AmountTo">Amount To ({{vbCurrency}})</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <input type="text" class="form-control text-right" placeholder="0.00" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <input type="button" name="showHistory" value="Show History" class="btn btn-vb-theme" data-ng-click="showHistory();" />
                        </div>
                    </div> 
                    <div class="vb-grid-container-body" data-ng-show="showHistoryDetails">
                        <div class="vb-grid-responsive table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Transaction Date</th>
                                        <th>Reference Number</th>
                                        <th>Description</th>
                                        <th>Consumer Number</th>
                                        <th class="text-right">Amount ({{vbCurrency}})</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="Transaction Date">05 NOV 2015</td>
                                        <td data-label="Reference">457852458</td>
                                        <td data-label="Description">Mobile Payment</td>
                                        <td data-label="Consumer Number">056 125 7452</td>
                                        <td data-label="Amount" class="text-right">100.00</td>
                                        <td data-label="Status">Successful</td>
                                    </tr>
                                    <tr>
                                        <td data-label="Transaction Date">07 NOV 2015</td>
                                        <td data-label="Reference">457852459</td>
                                        <td data-label="Description">EWA Payment</td>
                                        <td data-label="Consumer Number">056 125 7452</td>
                                        <td data-label="Amount" class="text-right">574.00</td>
                                        <td data-label="Status">Successful</td>
                                    </tr>
                                    <tr>
                                        <td data-label="Transaction Date">05 NOV 2015</td>
                                        <td data-label="Reference">457852410</td>
                                        <td data-label="Description">Car Insurance Payment</td>
                                        <td data-label="Consumer Number">056 125 7452</td>
                                        <td data-label="Amount" class="text-right">600.00</td>
                                        <td data-label="Status">Successful</td>
                                    </tr>
                                    <tr>
                                        <td data-label="Transaction Date">07 NOV 2015</td>
                                        <td data-label="Reference">457852412</td>
                                        <td data-label="Description">Internet Payment</td>
                                        <td data-label="Consumer Number">056 125 7452</td>
                                        <td data-label="Amount" class="text-right">350.00</td>
                                        <td data-label="Status">Successful</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>