<section class="content-header">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <h1 class="page-title">
                Thank you for your interest
            </h1>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <!-- to include the application header -->
            <ng-include src="'app/views/includes/relationship-manager.html'"></ng-include>
        </div>
    </div>
</section>
<section class="content vb-form">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <form class="form-horizontal RM-Selection" role="form" action="" method=""> 
                <!--<div class="alert vb-alert-success vb-alert-out">
                    <p>Congratulations! Your form was submitted and our representative will contact you at the earliest.</p> 
                </div>-->
                <div class="box widget"> 
                	<br>
                    <div class="alert vb-alert vb-alert-success">
                        <p>Your request have been received and our representative will contact you at the earliest.</p>
                    </div>
                </div>
            </form>
        </div>
    </div> 
</section>