<section class="content-header">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <h1 class="page-title">
                SMS Subscription
            </h1>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <!-- to include the application header -->
            <ng-include src="'app/views/includes/relationship-manager.html'"></ng-include>
        </div>
    </div>
</section>
<section class="content vb-form">
    <div class="row" data-ng-show="VBFormSteps">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="form-horizontal" role="form" action="" method=""> 
                <div class="box widget">
                    <h4>  
                        PUSH service
                    </h4>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="PrimaryMobile">Primary Mobile</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <input type="text" class="form-control" placeholder="Enter your mobile" />
                        </div> 
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="NameonCard">Subscribe To</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
                            <div class="vb-radio-ctrl">
                                <input type="radio" value="All" name="Subscription" id="All" data-ng-model="Subscription" />
                                <label for="All" class="radio">All Accounts / Cards</label>
                                <input type="radio" value="Selected" name="Subscription" id="Selected" data-ng-model="Subscription" />
                                <label for="Selected" class="radio">Selected Accounts / Cards</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" data-ng-show="Subscription=='Selected'">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="Accounts">Accounts</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="vb-checkbox-ctrl">
                                <p>
                                    <input type="checkbox" name="Accounts" id="0313015192584501" />
                                    <label for="0313015192584501" class="checkbox">0313015192584501</label>
                                </p>
                                <p>
                                    <input type="checkbox" name="Accounts" id="0313015192584502" />
                                    <label for="0313015192584502" class="checkbox">0313015192584502</label>
                                </p>
                                <p>
                                    <input type="checkbox" name="Accounts" id="0313015192584503" />
                                    <label for="0313015192584503" class="checkbox">0313015192584503</label>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="Cards">Cards</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="vb-checkbox-ctrl">
                                <p>
                                    <input type="checkbox" name="Cards" id="4578 2568 4578 1001" />
                                    <label for="4578 2568 4578 1001" class="checkbox">4578 **** **** 1001</label>
                                </p>
                                <p>
                                    <input type="checkbox" name="Cards" id="4578 2568 4578 1002" />
                                    <label for="4578 2568 4578 1002" class="checkbox">4578 **** **** 1002</label>
                                </p>
                                <p>
                                    <input type="checkbox" name="Cards" id="4578 2568 4578 1003" />
                                    <label for="4578 2568 4578 1003" class="checkbox">4578 **** **** 1003</label>
                                </p>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="NotificationTimeFrom">Notification Time From</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <input type="time" class="form-control" value="08:00" />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="NotificationTimeTo">Notification Time To</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <input type="time" class="form-control" value="08:00" />
                        </div> 
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="DebitAmount">Minimum Debit Amount <span class="mandatory">*</span></label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <input type="text" class="form-control text-right" placeholder="0.00" />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="CreditAmount">Minimum Credit Amount <span class="mandatory">*</span></label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <input type="text" class="form-control text-right" placeholder="0.00" />
                        </div> 
                    </div> 
                </div>
                <div class="box widget">
                    <h4>  
                        PULL service
                    </h4>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="DebitAmount">Select Your Option</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="vb-radio-ctrl">
                                <input type="radio" value="Subscribe" name="PULLService" id="Subscribe" data-ng-model="PULLService" />
                                <label for="Subscribe" class="radio">Subscribe</label>
                                <input type="radio" value="Unsubscribe" name="PULLService" id="Unsubscribe" data-ng-model="PULLService" />
                                <label for="Unsubscribe" class="radio">Unsubscribe</label>
                            </div>
                        </div>  
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" data-ng-show="PULLService=='Subscribe'">
                            <label class="control-label" for="PrimaryMobile">Primary Mobile</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" data-ng-show="PULLService=='Subscribe'">
                            <input type="text" class="form-control" placeholder="Enter your mobile" />
                        </div> 
                    </div>
                    <div class="form-group" data-ng-show="PULLService=='Subscribe'">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="DebitAmount">Registered Beneficiary Services</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
                            <div class="vb-checkbox-ctrl">
                                <input type="checkbox" name="BeneficiaryServices" id="EtisalatBalance" />
                                <label for="EtisalatBalance" class="checkbox">Internet Balance</label>
                                <input type="checkbox" name="BeneficiaryServices" id="EtisalatPayment" />
                                <label for="EtisalatPayment" class="checkbox">Internet Payment</label>
                                <input type="checkbox" name="BeneficiaryServices" id="WaselTopup" />
                                <label for="WaselTopup" class="checkbox">Mobile Topup</label>
                                <input type="checkbox" name="BeneficiaryServices" id="WaselRenewal" />
                                <label for="WaselRenewal" class="checkbox">Mobile Renewal</label>
                            </div>
                        </div>   
                    </div> 
                    <div class="form-group" data-ng-show="PULLService=='Subscribe'">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="Phone/MobileNumber">Phone / Mobile Number</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <input type="text" class="form-control" placeholder="Enter your phone / mobile" />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="AccountNumber">Account Number</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <select name="select" class="form-control">
                                <option>031310145785</option>
                            </select>
                        </div> 
                    </div>
                    <div class="form-group" data-ng-show="PULLService=='Subscribe'">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="">&nbsp;</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"> 
                            <button class="btn btn-vb-theme">
                                <i class="fa fa-plus"></i>
                                Add    
                            </button>
                        </div> 
                    </div> 
                    <div class="form-group" data-ng-show="PULLService=='Subscribe'">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="NotificationTimeFrom">Notification Time From</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <input type="time" class="form-control" value="08:00" />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label" for="NotificationTimeTo">Notification Time To</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <input type="time" class="form-control" value="08:00" />
                        </div> 
                    </div>  
                </div>
                <div class="form-group-actions text-center"> 
                    <input type="submit" value="Continue" class="btn btn-vb-theme" data-ng-click="GoVBFormConfirmation()" />
                </div>
            </form>
        </div>
    </div>
    <div class="row" data-ng-show="VBFormConfirmation">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="form-horizontal" role="form" action="" method="">
                <div class="box widget">
                    <h4>  
                        Please check the below informations. To finish, press confirm.
                    </h4>
                    <h5>
                        PUSH service
                    </h5>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Transaction Date&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">25 NOV 2015</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Primary Mobile Number&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">+49 50 852 4578</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Subscription Type&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">All Accounts / Cards</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Service Type&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">All Services</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Notification Time From&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">08:00 A.M.</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Notification Time To&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">06:00 P.M.</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Minimum Debit Amount&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">1,000.00</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Minimum Credit Amount&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">1,500.00</label>
                        </div>
                    </div> 
                    <div class="form-group-seperator"></div>
                    <h5>
                        PULL service
                    </h5>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Transaction Date&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">25 NOV 2015</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Primary Mobile Number&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">+49 50 852 4578</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Subscription Option&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">Subscribe</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Services&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">All Services</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Beneficiary Numbers&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">+49 50 452 7852, +49 4 856 9652</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Settlement Account&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">031452785452</label>
                        </div>
                    </div> 
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Notification Time From&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">08:00 A.M.</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Notification Time To&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">06:00 P.M.</label>
                        </div>
                    </div>
                </div>
                <div class="form-group-actions text-center">
                    <input type="button" value="Back" class="btn btn-vb-theme" data-ng-click="BackVBFormFormSteps()" />
                    <input type="button" value="Cancel" class="btn btn-vb-theme-cancel" data-ng-click="BackVBFormFormSteps()" />
                    <input type="submit" value="Confirm" class="btn btn-vb-theme" data-ng-click="GoVBFormReceipt()" />
                </div>
            </form>
        </div>
    </div>
    <div class="row" data-ng-show="VBFormReceipt">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <form class="form-horizontal" role="form" action="" method="">
                <div class="box widget" id="vbprintSection">
                    <h4>  
                        Your SMS service updated successfully.
                    </h4> 
                    <h5>
                        PUSH service
                    </h5>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Transaction Date&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">25 NOV 2015</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Primary Mobile Number&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">+49 50 852 4578</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Subscription Type&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">All Accounts / Cards</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Service Type&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">All Services</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Notification Time From&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">08:00 A.M.</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Notification Time To&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">06:00 P.M.</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Minimum Debit Amount&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">1,000.00</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Minimum Credit Amount&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">1,500.00</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Reference Number&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">VBHJYU785452</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">CRM Reference Number&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">VBHJYU785452</label>
                        </div>
                    </div>
                    <div class="form-group-seperator"></div>
                    <h5>
                        PULL service
                    </h5>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Transaction Date&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">25 NOV 2015</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Primary Mobile Number&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">+49 50 852 4578</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Subscription Option&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">Subscribe</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Services&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">All Services</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Beneficiary Numbers&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">+49 50 452 7852, +49 4 856 9652</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Settlement Account&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">031452785452</label>
                        </div>
                    </div> 
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Notification Time From&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">08:00 A.M.</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Notification Time To&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">06:00 P.M.</label>
                        </div>
                    </div>
                    <div class="form-group-details">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Reference Number&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">VBHJYU785452</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">CRM Reference Number&nbsp;&nbsp;:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label class="label-detail">VBHJYU785452</label>
                        </div>
                    </div>
                </div>
                <div class="form-group-actions text-center">
                    <input type="submit" value="Print e-Receipt" class="btn btn-vb-theme" />
                </div>
            </form>
        </div>
    </div>
</section>