/*
 VeriBank common variables
 */ 

/* common veribank theme variables */ 
$vb-block: block;
$vb-inlineblock: inline-block;
$vb-none: none;
$vb-transparent: transparent;
$vb-visible: visible;
$vb-table: table;
$vb-tablerow: table-row;
$vb-tablecell: table-cell;
$vb-relative: relative;
$vb-absolute: absolute;
$vb-fixed: fixed;
$vb-hidden: hidden;
$vb-auto: auto;    
$vb-semibold: 600;
$vb-bold: bold;
$vb-normal: normal;
$vb-center: center;
$vb-middle: middle;
$vb-left: left;
$vb-right: right;
$vb-top: top;
$vb-bottom: bottom;
$vb-transparent: transparent;
$vb-pointer: pointer; 


/* veribank theme colors */
$vb-green: #0aa699;
$vb-darkgreen: #01877c;
$vb-red: #f35958;
$vb-blue: #0090d9;
$vb-lightblue: #b3def4;
$vb-darkgrey: #3a4b4f;
$vb-lightgrey: #cccccc;
$vb-bdrgrey: #dddddd;
$vb-yellow: #ecb747; 
$vb-lightyellow: #fcefa1; 
$vb-white: #ffffff;
$vb-black: #000000;
$vb-disableblack: rgba(0, 0, 0, .5);
$vb-disablegrey: rgba(153, 153, 153, .5);
$vb-activegrey: #999999;
$vb-darkblue: #064884;